.navigation {
  &__checkbox {
    display: none;

  }

  &__button { // menu button
    background-color: $color-white;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem; // that's why the menu button is wide then background (7rem > 6.5rem)
    border-radius: 50%;
    z-index: 1002;
    text-align: center;
    box-shadow: 0 1rem 2rem  rgba($color-black, .1);
    cursor: pointer;
  }

  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%; // round button in the right corner
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient($color-primary-light, $color-primary-dark); //it starts in the middle of the gradient and goes outside
    z-index: 1000;

    transition: transform .8s cubic-bezier(.86, 0, .07, 1); //animate navi menu opening
    // we could get new functions and test them in www.easings.net
  }

  &__nav {
    height: 100vh;
    width: 0;
    opacity: 0; // to hide the menu and all buttons on it - we have to add opacity and width to 0. if we added only opacity - cursor pointer still will be here when hover the buttons position.
    position: fixed;
    top: 0;
    right: 0; // starts from top and right
    z-index: 1001;

    transition: all .8s cubic-bezier(.68, -.55, .265, 1.55); //animate opacity and moving in from the right
  }

  &__list {
    position: absolute;
    @include center-top-horizontal;
    list-style: none;
    text-align: center;
    width: 100%
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    &:link, &:visited {
      display: inline-block;
      font-size: 3rem;
      font-weight: 300;
      color: $color-white;
      padding: 1rem 2rem;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%); //effect when background is filled by color with "cut" line from top right to bottom left
      background-size: 230%; // if we increased it the cut-line border will move to right because.
      // if it will be 200% - the border will gone away entirely (it would be true, but we have 120deg gradient and our background-image is inclined to the right.
      // that's why we need to set 220% to hide background image entirely and also to fill text-container entirely on the hover too.
      // pay attention, 220% could be not enough for short text-buttons and wide screens. need to text all of them.
      // with 100% it will be in the center of element
      transition: all .4s;
    }

    span {
      margin-right: 1rem;
      display: inline-block;
    }

    &:hover,
    &:active {
      background-position: 100%; // this animation moves from 0% to 100% of it's position.
      color: $color-primary;
      transform: translateX(1rem); // shifts the text a little bit right
    }
  }

  // Functionality of nav button
  &__checkbox:checked ~ &__background { // we used sibling selector to select background which will be changed if our checkbox is checked.
    transform: scale(90); // scaling size of background from navigation menu button
  }

  &__checkbox:checked ~ &__nav { // we used sibling selector to select nav which will be changed if our checkbox is checked.
    opacity: 1;
    width: 100%; // scaling size of nav and change its opacity to 1.
  }

  // Icon
  &__icon {
    user-select: none;
    position: relative;
    margin-top: 3.5rem; // to center our burger

    &, // for 3 "burger lines"
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: $color-grey-dark-3;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s;
    }

    &::before {
      top: -.8rem;

    }

    &::after {
      top: .8rem;
    }
  }

  &__button:hover &__icon:before {
    top: -1rem;
  }

  &__button:hover &__icon:after {
    top: 1rem;
  }

  &__checkbox:checked + &__button &__icon { //select the button from the same parent (immediately after checkbox), and then its child icon
    background-color: transparent; //make the span invisible
  }

  &__checkbox:checked + &__button &__icon::before {
    top: 0; // move it back to the center
    transform: rotate(135deg); // 180 - 45 deg
    // if we would like to use rotation around some point of element - we could use transform-origin:
    // transform-origin: right; // around right dot of the line
  }

  &__checkbox:checked + &__button &__icon::after {
    top: 0; // move it back to the center
    transform: rotate(-135deg); // 180 - 45 deg
  }
}