// FLIP CARD COMPONENT FOR DESKTOP
// YOU COULD FIND A NEW ONE FOR TABLETS BELOW, INSIDE MEDIA QUERY
.card {
  // FUNCTIONALITY
  perspective: 150rem; // this property means how card rotates. without it the card will rotate with non-natural manner.
  -moz-perspective: 150rem; // mozilla doesn't maintain this property by default, that's why we need to use -moz prefix
                            // if we select 1500rem (very big value) - it will work as the same as without perspective at all
                            // with 15 rem - it will work on very bizarre manner (rotates with dimension which is too close to screen)
  position: relative;
  height: 52rem;  // we need to specify height because card__side is absolute positioning and card lost his height
                  // and that's why it lost it's perspective.

  &__side {
    height: 52rem;
    transition: all .8s ease;
    position: absolute; // card component then will lose his height and will collapse, we need to fix him
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden; //image overflows the card and border-radius is not seen anymore. that's why we need to add overflow
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

    &--front {
      background-color: $color-white;
    }

    &--back {
      background-color: green;
      transform: rotateY(180deg);

      &-1 {
        background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
      }

      &-2 {
        background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
      }

      &-3 {
        background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
      }
    }
  }

  &:hover &__side--front { //card:hover card__side (card_side when card is hovered)
    transform: rotateY(-180deg);
  }

  &:hover &__side--back { //card:hover card__side (card_side when card is hovered)
    transform: rotateY(0);
  }

  // FRONT SIDE STYLING
  &__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen; // new css3 property. Blend modes for image on the card component. like a filters for your photos in photoshop
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    &--1 {
      background-image:  linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark),
        url(../img/nat-5.jpg);
    }

    &--2 {
      background-image:  linear-gradient(to right bottom, $color-primary-light, $color-primary-dark),
        url(../img/nat-6.jpg);
    }

    &--3 {
      background-image:  linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark),
      url(../img/nat-7.jpg);
    }
  }

  &__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: $color-white;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%;
  }

  &__heading-span {
    padding: 1rem 1.5rem; // with width in &__heading it allow the text to become 2-lines text;
    -webkit-box-decoration-break: clone; // every word will have his own padding(space after and before "THE SEA" and "EXPLORER") like div entities.
    box-decoration-break: clone;
    &--1 {
      background-image: linear-gradient(to right bottom, rgba($color-secondary-light, .85), rgba($color-secondary-dark, .85));
    }

    &--2 {
      background-image: linear-gradient(to right bottom, rgba($color-primary-light, .85), rgba($color-primary-dark, .85));
    }

    &--3 {
      background-image: linear-gradient(to right bottom, rgba($color-tertiary-light, .85), rgba($color-tertiary-dark, .85));
    }
  }

  &__details {
    padding: 3rem;

    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;

      li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 1px solid $color-grey-light-2;
        }
      }
    }
  }

  //BACK SIDE STYLING
  &__cta {
    @include center-top-horizontal;
    width: 90%;
    text-align: center;
  }

  &__price-box {
    text-align: center;
    margin-bottom: 8rem;
    color: $color-white;
  }

  &__price-only {
    font-size: 1.5rem;
    text-transform: uppercase;
  }

  &__price-value {
    font-size: 6rem;
    font-weight: 100;
  }


  // COMPONENT FOR TAB-PORT.
  @include respond(tab-port) {
    // we need to specify height because card__side is absolute positioning and card lost his height
    // and that's why it lost it's perspective.
    height: auto;
    border-radius: 3px;
    background-color: $color-white;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

    &__side {
      // we changed position from absolute to relative because we are totally reworking our flip card component
      // this component for mobile devices will not flip and will contain book now button only on the front side.
      height: auto;
      position: relative;
      box-shadow: none;

      &--back {
        transform: rotateY(0);
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
      }
    }

    &:hover &__side--front { // card is not rotating anymore on tap devices
      transform: rotateY(0);
    }

    &__details {
      padding: 1rem 3rem;
    }

    // FRONT SIDE STYLING
    &__cta {
      position: relative;
      top: 0;
      left: 0;
      transform: translate(0);
      width: 100%;
      padding: 7rem 4rem 4rem 4rem;
    }

    &__price-box {
      margin-bottom: 3rem;
    }

    &__price-value {
      font-size: 4rem;
    }
  }
}