.form {
  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba($color-white, .5);
    border: none;
    border-bottom: 3px solid transparent; // border-bottom on the focus moves email address input element on 3px down
    width: 90%;
    display: block;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, .1);
      border-bottom: 3px solid $color-primary;
    }

    &:focus:invalid {
      border-bottom: 3px solid $color-secondary-dark;
    }

    &::-webkit-input-placeholder {
      color: $color-grey-dark-2;
    }

  }

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;
    transition: all .3s;
  }
  // &__input:placeholder-shown &__label selector will not work because this two elements are siblings
  // immediately after or before particular element
  // &__input:placeholder-shown + &__label - + means that __label is right UNDER the input
  // &__input:placeholder-shown ~ &__label - ~ means that __label is somewhere in the same container
  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden; // we use both of it because we can't animate visibility
    transform: translateY(-4rem);
  }
}