.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, .1);
  background-color: rgba($color-white, .6);
  border-radius: 3px;
  padding: 6rem 6rem 6rem 9rem;
  font-size: $default-font-size;
  transform: skewX(-12deg);

  @include respond(tab-port) {
    width: 100%;
    padding: 4rem 4rem 4rem 7rem;
  }

  @include respond(phone) {
    transform: skewX(0); // we deleted skew for phone devices to make story component rectangular-like back.
  }

  &__shape {
    position: relative;
    width: 15rem;
    height: 15rem;
    float: left; // it has to be floated only when width and height are set.

    transform: translateX(-3rem) skewX(12.01deg); // margin between round image and text which should be rounded on the left
    // also we add SkewX here and for __text instead of adding to & > * selector because multiple transform properties won't work
    // 12.0deg here instead of 12deg to fix weird bug - 1px image on the left and right sides of rectangle around image circle

    @supports (shape-outside: circle(0 0)) or (-webkit-shape-outside: circle(0 at 0 0)) {
      shape-outside: circle(50% at 50% 50%); // radius at center coordinates
      -webkit-shape-outside: circle(50% at 50% 50%); // for Safaris
    }

    // -webkit- for safari version <=9.1, clip-path for other modern browsers
    @supports (clip-path: circle(0 0)) or (-webkit-clip-path: circle(0 at 0 0)) {
      clip-path: circle(50% at 50% 50%);
      -webkit-clip-path: circle(50% at 50% 50%);
    }

    @supports not ((not (clip-path: circle(0 at 0 0))) and (not (-webkit-clip-path: circle(0 at 0)))) {
      border-radius: 50%;
      overflow: hidden; // for old safari where clip-path doesn't work
    }

    @include respond(phone) {
      transform: translateX(-3rem) skewX(0); // we deleted skew for phone devices to make story component rectangular-like back.
    }
  }

  &__img {
    height: 100%; // should be set to fit image in circle
    transform: translateX(-4rem) scale(1.4);
    backface-visibility: hidden; // to fix incorrect transformX
  }

  &__text {
    transform: skewX(12deg);

    @include respond(phone) {
      transform: skewX(0); // we deleted skew for phone devices to make story component rectangular-like back.
    }
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: $color-white;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; // fix the small glitch
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &:hover &__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px);
  }
}