*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; /* box-sizing will be inherited from body */
}

html {
  /* this global definition what 1rem is */
  font-size: 62.5%; /* 10px from default 16px browser font-size, do never set the default size in px here */
}

body {
  box-sizing: border-box;
}