.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh;

  @include respond(tab-port) {
    padding: 20rem 0;
  }
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
                  to bottom,
                  rgba(126, 213, 111, 0.8),
                  rgba(40, 180, 131, 0.8)),
  url(../img/nat-4.jpg);
  background-size: cover;
  margin-top: -12rem; // to fill the gap on the left corner between sections

  /* will work like clip-path: polygon to make our non-rectangle section view */
  transform: skewY(-7deg);

  /* universal selector. direct child of section-features. .section-features > *
   * we need it to make compensation of transforming whole section (her right side is upper than left)
   */
  & > * {
    transform: skewY(7deg);
  }

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.section-tours {
  background-color: $color-grey-light-1;
  padding: 25rem 0 15rem 0;
  margin-top: -12rem;

  @include respond(tab-port) {
    padding: 20rem 0 10rem 0;
  }
}

.section-stories {
  position: relative; // for video
  padding: 15rem 0;

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.book {
  // linear gradient, at 0% black should be, orangered at 50% and also at 50% we want white.
  // it lead as to situation with border between white and orangered
  // if we put 40% to color white - we will see gradient in the middle of the container between 40% and 50% of its width.
  // 105deg - is how linear-gradient will work. 90deg - from left to right, 0% from top to bottom.
  // 105% - manually selected value. it means that color gradient will happen with little angle from top left to bottom right.
  // orangered is selected for demonstration purposes. We will use transparent
  // background-image: linear-gradient(105deg, rgba($color-white, .9) 0%, rgba($color-white, .9) 50%, orangered 50%), url("../img/nat-10.jpg");
  background-image: linear-gradient(105deg, rgba($color-white, .9) 0%, rgba($color-white, .9) 50%, transparent 50%), url("../img/nat-10.jpg");
  -webkit-background-size: 100%;
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .3);

  @include respond(tab-land) { // it starts looking bizarre from tab-landscape
    background-image: linear-gradient(105deg, rgba($color-white, .9) 0%, rgba($color-white, .9) 65%, transparent 65%), url("../img/nat-10.jpg");
    -webkit-background-size: cover;
    background-size: cover; // we changed it because basically for desktop devices image tries to fit by the width (that's what background-size: 100%; means)
    // that's why we need to change it to cover
  }

  @include respond(tab-port) { // it starts looking bizarre from tab-landscape
    background-image: linear-gradient(to right, rgba($color-white, .9) 0%, rgba($color-white, .9) 100%), url("../img/nat-10.jpg");
    -webkit-background-size: cover;
    background-size: cover; // we changed it because basically for desktop devices image tries to fit by the width (that's what background-size: 100%; means)
    // that's why we need to change it to cover
  }

  &__form {
    width: 50%;
    padding: 6rem;

    @include respond(tab-land) {
      width: 65%;
    }

    @include respond(tab-port) {
      width: 100%;
    }
  }
}
